<div class="box box-info" id="addProject" style="position: absolute; width: 800px; height: 300px; padding: 0;
top: 10%; left: 26%; z-index: 9999; visibility: visible; display: none">
  <div class="box-header with-border">
    <h3 class="box-title">添加项目</h3>
  </div><!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for="ProName" class="col-sm-2 control-label">项目名称</label>
        <div class="col-sm-10">
          <input type="ProName" class="form-control" id="ProName" placeholder="项目的名称">
        </div>
      </div>
      <div class="form-group">
        <label for="ProIntro" class="col-sm-2 control-label">项目简述</label>
        <div class="col-sm-10">
          <input type="ProIntro" class="form-control" id="ProIntro" placeholder="简要概述">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Remember me
            </label>
          </div>
        </div>
      </div>
    </div><!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-info pull-right">Sign in</button>
    </div><!-- /.box-footer -->
  </form>
</div><!-- /.box -->